html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}

.navbar .container .navbar-collapse .navbar-nav .dropdown-menu {
    text-align: center;
    left: -50%;
}

.card .card-body .media img
{
    width: 10rem;
    height: 10rem;
}

.list-group a {
    text-decoration: none;
    line-height: 16px;
    color: #000000;
}
.list-group a:hover{
    color: #007BFF;
}

.footer {
    background-color: #f5f5f5;
}