{% extends 'base.html' %}
{% block contents %}
<!-- 글목록 card -->
<div class="container" style="padding-top: 5rem;">
    <!-- breadcrumb -->
    <nav aria-label="breadcrumb mt-5">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'index' %}">게시글</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
        </ol>
    </nav>
    <!-- //breadcrumb -->
    <div class="card mb-2">
        <div class="card-body">
            <div class="media">
                <img src="{{ post.img.url }}" class="align-self-center mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">{{ post.title }}</h5>
                    <small class="text-muted">작성일 | {{post.created_at}}</small>
                    <small class="text-muted">수정일 | {{ post.updated_at }}</small>
                    <p>{{ post.body }}</p>
                </div>
            </div>
        </div>
    </div>   
</div>
<!-- //글목록 card -->
{% endblock %}